@import 'variables';
@import 'mixin';

.about-container{
    font-family: $font-poppins;
    @include marginCenter;
    @include flexCenter(center);
    background-color: #F7F8FA;
    min-height: 800px;
    padding: 20px; 
}

.about-text{
    margin-right: 30px;
    
    .about-info{
        margin-bottom: 58px;

        .about-img-r{
            width: 0;
            height: 0;
            overflow: hidden;
        }

        &__title{
            font-weight: 500;
            font-size: 40px;
            line-height: 47px;
            letter-spacing: -0.9px;
            margin-bottom: 15px;
            max-width: 350px;
        }

        &__subtitle{
            color: $primary-color;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 38px;
        }

        &__icon-container{
            margin-bottom: 10px;

            span{
                margin-bottom: 10px;
                font-weight: 400;
            }

            .check-icon-img{
                margin-right: 10px;
            }

            .ingredient-name{
                font-weight: 600;
            
            }
        }
    }

    .about-btn{
        background: $primary-color;
        font-family: $font-roboto;
        text-decoration: none;
        font-weight: 500;
        font-size: 20.6452px;
        line-height: 24px;
        color: white;
        padding: 8px 44px;
        border-radius: 4px;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover{
            @include hoverButton;
        }
    }
}

.about-img{

    img{
        max-width: 540px;
        max-height: 377px;
        background-color: white;  
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .about-container{
        flex-direction: column;
        padding: 119px 15px 45px;
        .about-img{
            margin-top: 20px;
        }
    }

    .about-text{
        margin-right:  0;

        .about-info{
            
            &__title{
                text-align: center;
                max-width: none;
            }

            &__subtitle{
                text-align: center;
                margin-bottom: 41px;
            }

            .about-img-r{
                max-width: 540px;
                max-height: 377px;
                background-color: white;  
                width: 100%;
                height: 100%;
                margin-bottom: 45px;
            }
        }

        .about-btn{
            display: block;
            width: fit-content;
            margin: 0 auto;
            text-align: center;
            padding: 8px 44px;
        }
    }

    .about-img{
        display: none;
    }
}
