@import 'variables';
@import 'mixin';
@import 'global';   
@import 'shipping';

.authentication-container{
    @extend .shipping-container;
    padding-top: 75px;
}

.authentication-text{

    &__contact{
        margin: 47px 0 40px 165px;

        .authentication-title{
            @include flexCenter(space-between);
            margin-bottom: 12px;

            h2{
                font-weight: 500;
                font-size: 20px;
            }

            p{

                span{
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }

        .authentication-text-form{

            .text-input{
                display: block;
                width: 100%;
                padding: 7px 17px;
                margin-bottom: 10px;

                &::placeholder{
                    font-size: 14px;
                    line-height: 26px;
                }
            }

            .checkbox-input{
                margin-right: 7px;
                cursor: pointer;
            }
        }
    }

    &__shipping-address{
        margin: 47px 0 60px 165px;

        h2{
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 12px;
        }

        input{
            padding: 7px 17px;
            margin-bottom: 12px;
            
            &::placeholder{
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                color: #616161;
            }
        }

        .name{
            display: flex;
            justify-content: space-between;
        }

        .name-input,
        .second-name-input{
            width: 50%;
        }

        .name-input{
            margin-right: 13px;
        }


        .address-num-input,
        .shipping-note-input,
        .country-input{
            width: 100%;
        }

        .address{
            display: flex;
            justify-content: space-between;
        }

        .city-input,
        .code-input,
        .province-input{
            width: 140px;
        }

        .city-input,
        .code-input{
            margin-right: 12px;
        }

        .save-checkbox{
            margin-right: 6px;
        }
    }

    &__shipping-btn{
        @extend .shipping-text__shipping-btn;
        
        .back-to-cart-link{
            @extend .back-to-details-link;

            &:hover{
                color: rgb(1, 132, 1);
            }
        }

        .shipping-link{

            @extend .payment-link;
        }
    }
}

.authentication-product{
    @extend .shipping-products;

    .authentication-details{
        @extend .shipping-details;
        
        &__code{
            @extend .shipping-details__code;
        }

        &__subtotal-shipping{
            @extend .shipping-details__subtotal-shipping;
        }

        &__total{
            @extend .shipping-details__total;
        }
    }
}

@media screen and (min-width: 1450px) {
    .authentication-text{

        &__shipping-btn{
            .back-to-cart-link-r{
                display: none;
            }
        }
    }
}

@include mobile(1450px){

    .authentication-container{
        flex-direction: column;
        align-items: center;
    }

    .authentication-text{
        padding: 15px;

        &__contact{
            margin: 0 0 30px 0;
        }

        &__shipping-address{
            margin: 0 0 123px 0;
            margin-bottom: 39px;

            .name{
                display: initial;
            }

            .name-input,
            .second-name-input{
                max-width: none;
                width: 100%;
            }

            .address{
                display: initial;
            }

            .city-input,
            .code-input,
            .province-input{
                width: 100%;
            }
        }

        &__shipping-btn{
            flex-direction: column;
            margin: 0;
            
            .back-to-cart-link{
                display: none;
            }

            .shipping-link{
                margin-bottom: 25px;
            }

            .back-to-cart-link-r{
                width: auto;
                height: auto;
                text-decoration: none;
                color: $primary-color;
                text-decoration: underline;
                font-size: 18px;
                
                &:hover{
                    color: rgb(1, 132, 1);
                }
            }
        }
    }
}