@import 'variables';
@import 'mixin';

.cart-items-container{
    font-family: $font-poppins;
    max-width: 1110px;
    margin: 0 auto;
}

.cart-items-header{
    text-align: center;

    &__title{
        margin: 136px 0 17px;
        font-weight: 500;
        font-size: 26px;
        letter-spacing: -0.9px;
        line-height: 58px;
    }

    &__back-to-shop-link{
        font-family: $font-roboto;
        color: $primary-color;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: -0.9px;
        text-decoration: underline;
        cursor: pointer;  
        line-height: 26px;     
        width: fit-content;
        margin: 0 auto 60px;
        
        &:hover{
            color: rgb(0, 145, 41);
        }
    }
}

.cart-items-list{
    padding: 0 15px;

    .title{
        display: grid;
        grid-template-columns: 664px 1fr 1fr 1fr;
        border-bottom: 1px solid #E5E5E5; 

        h3{
            font-family: $font-roboto;
            line-height: 26px;
            font-weight: normal;
            font-weight: 500;
        }

        &__total{
            text-align: end;
        }
    }

    .item{
        display: grid;
        grid-template-columns: 664px 1fr 1fr 1fr;
        border-bottom: 1px solid #E5E5E5;
        align-items: center;

        &__info{
            display: flex;
            margin: 42px 0 33px;

            .product{

                &__img{
                    width: 160px;
                    height: 120px;
                    background-color: rgb(244, 244, 244);
                    margin-right: 30px;
                }

                &__info{
                    line-height: 30px;
                }

                &__name{
                    font-family: $font-poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 26px;
                    letter-spacing: -0.9px;
                    margin-bottom: 21px;
                }

                &__price{
                    font-family: $font-roboto;
                    display: none;
                }

                &__quantity{
                    display: none;
                }
            }

            .remove-btn{
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                letter-spacing: -0.9px;
                text-decoration-line: underline;
                color: #56B280;
                background-color: transparent;
                border: none;
                cursor: pointer;

                &:hover{
                    color: rgb(0, 145, 41);
                }
            }
        }

        &__price{
            font-family: $font-roboto;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: -0.9px;    
        }

        &__quantity{
            font-family: $font-roboto;

            .quantity-container{
                width: 75px;
                height: 30px;
                border: 2px solid $primary-color;
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                .btn{
                    background-color: transparent;
                    border: none;
                    color:$primary-color;
                    cursor: pointer;

                    &:hover{
                        color: rgb(0, 145, 41);
                    }
                }
            }
        }

        &__total{
            font-family: $font-roboto;
            text-align: end;
            font-weight: 500;
        }
    }
}

.cart-items-check-out{   
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-top: 43px;
    font-family: $font-roboto;
    margin-bottom: 147px;
    
    &__sub-total{
        text-align: end;
        margin-bottom: 36px;
    }

    &__total{
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 9px;
        
        span{
            margin-left: 40px;
        }
    }

    &__tax{
        font-weight: 400;
        font-size: 16px;
        color: #9E9E9E;
    }
    
    button{
        font-family: $font-roboto;
        background: $primary-color;
        margin-left: 70px;
        border-radius: 4px;
        color: white;
        padding: 8px 0;
        width: 183px;
        font-weight: 500;
        font-size: 20px;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover{
            @include hoverButton;
        }
    }
}

@include mobile(850px) {
    .cart-items-list{

        .title{
            grid-template-columns: 450px 1fr 1fr 1fr;
        }

        .item{
            grid-template-columns: 450px 1fr 1fr 1fr;
        }
    }
}
@include mobile(700px) {
    .cart-items-list{

        .title{
            grid-template-columns: 1fr 1fr;

            &__quantity{
                display: none;
            }

            &__total{
                display: none;
            }

            &__price{
                text-align: end;
            }
        }

        .item{
            grid-template-columns: 1fr;
            align-items: flex-start;

            &__info{
                margin: 10px 0;

                .product{

                    &__info{
                        display: flex;
                        justify-content: space-between;
                    }

                    &__img{
                        margin-right: 10px;
                    }

                    &__price{
                        font-family: $font-roboto;
                        display: block;
                        text-align: end;
                        margin-bottom: 44px;
                        font-weight: 400;
                    }

                    &__quantity{
                        display: block;
                        width: 75px;
                        height: 30px;
                        border: 2px solid $primary-color;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                            
                        .btn{
                            background-color: transparent;
                            border: none;
                            color:$primary-color;
                            cursor: pointer;
                        }
                    }
                }

            }
            
            &__price,
            &__quantity,
            &__total{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 400px) {

    .cart-items-list{

        .item{

            &__info{

                .product{

                    &__img{
                        width: 93.54px;
                        height: 70.15px;
                    } 

                    &__name{
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .cart-items-check-out{
        padding: 0 15px;
        display: block;
        text-align: center;

        &__sub-total{
            text-align: center;
        }

        &__tax{
            margin-bottom: 9px;
        }

        button{
            width: 100%;
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 300px) {
    .cart-items-list{

        .item{
            .product{

                &__img{
                    width: 50px;
                    height: 45px;
                }
            }
            
        }
    }
}
.empty-cart{

    text-align: center;
    margin-bottom: 200px;

    h1{
        margin: 100px 0 20px;
        font-family: $font-poppins;
    }

    .fill-link{
        background-color: $primary-color;
        border: 1px solid $primary-color;
        text-decoration: none;
        color:#ffffff;
        cursor: pointer;
        padding: 5px 10px;
        font-weight: 700;
        font-size: 20px;
        border-radius: 5px;
    }
}