*,
::after, 
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-page,
.about-page,
.products-page,
.single-product-page,
.cart-page
.authentication-page,
.shipping-page,
.payment-page{
    padding-top: 75px;
}