@import 'variables';
@import 'mixin';

.products-container{
    @include marginCenter;
    font-family: $font-poppins;
    padding: 90px 0 88px;
}

.products-header{
    max-width: 1111px;
    text-align: center;
    margin: 0 auto;

    &__title{
        font-size: 40px;
        line-height: 57px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    &__subtitle{
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
        color: #5E6E89;
        margin-bottom: 60px;
    }
}

.products-list{
    max-width: 1111px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .product{
        box-shadow: 0 0 8px rgb(219, 219, 219);
        text-decoration: none;
        max-width: 255px;
        margin: 0 auto 20px;
        width: fit-content;

        &:hover{
            box-shadow: 0px 0px 8px rgb(173, 173, 173);
        }

        &__img{
            width: 100%;
            background-color: rgb(245, 245, 245);
        }

        &__name{
            line-height: 27,6px;
            font-weight: normal;
            margin: 10px 0 0 26px;
            color: black;
        }

        &__price{
            color: $primary-color;
            font-family: $font-roboto;
            text-align: right;
            margin: 0 26px 16px;
            font-weight: 500;
            font-size: 20px;
        }


    }
}

@include mobile(1200px){
        .products-list{
            grid-template-columns: 1fr 1fr 1fr;
        }
}

@include mobile(1000px){
        .products-list{
            grid-template-columns: 1fr 1fr;
        }
}

@include mobile(570px){
    .products-container{
        padding: 50px 0 69px;
    }

    .products-header{
        &__title{

            &__subtitle{
                margin-bottom: 69px;
            }
        }
    }

    .products-list{
        grid-template-columns: 1fr;
        max-width: none;
        width: 100%;

        .product{
            width: 90%;
        }

        .more-products-btn{
            font-family: $font-roboto;
            background: $primary-color;
            border-radius: 4px;
            font-size: 20.6452px;
            color: white;
            border: none;
            display: block;
            margin: auto;
            padding: 8px 44px;
            text-decoration: none;
            margin-top: 44px;
            border: 1px solid transparent;
            
            &:hover{
                @include hoverButton;
            }
        }
    }   
}