@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "about";
@import "cartItems";
@import "footer";
@import "hero";
@import "navbar";
@import "popularProducts";
@import "products";
@import "singleProduct";
@import "global";