@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
*, ::after, ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-page,
.about-page,
.products-page,
.single-product-page,
.cart-page {
  padding-top: 75px;
}

.navbar {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 10;
}

.navbar-container {
  max-width: 1440px;
  margin: 0 auto;
  height: 75px;
  border-bottom: 1px solid #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.link, li {
  text-decoration: none;
  list-style-type: none;
  color: black;
  display: block;
}

.navbar-links__card-amount,
.sidebar-icons__card-amount {
  text-decoration: none;
  color: #56B280;
}

@media screen and (min-width: 850px) {
  .sidebar {
    display: none;
  }
  .active {
    border-bottom: 4px solid #56B280;
  }
  .navbar-header {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-header__logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .navbar-header__logo-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .navbar-header__logo-text {
    width: 85px;
  }
  .navbar-header__menu {
    display: none;
  }
  .navbar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    height: 75px;
    font-family: "Roboto", sans-serif;
  }
  .navbar-links__text-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links__text-links li {
    margin: 18px;
  }
  .navbar-links__icons-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .navbar-links__icons-links li {
    margin: 24px;
    cursor: pointer;
  }
  .navbar-links__cart {
    text-decoration: none;
    position: relative;
  }
  .navbar-links__card-amount {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    top: -27px;
    right: -10px;
  }
}

@media screen and (max-width: 850px) {
  .navbar-links {
    display: none;
  }
  .navbar-header {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-header__logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar-header__logo-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .navbar-header__logo-text {
    width: 85px;
  }
  .navbar-header__menu {
    cursor: pointer;
  }
  .navbar-header__menu i {
    font-size: 22px;
    color: #56B280;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: white;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  margin-bottom: 15px;
}

.sidebar-header__logo-img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.sidebar-header .sidebar-close-btn {
  font-size: 25px;
  color: red;
  margin-right: 20px;
  cursor: pointer;
}

.sidebar-links {
  font-family: "Roboto", sans-serif;
}

.sidebar-links .link {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 15px;
}

.sidebar-links .link:hover {
  background-color: #97ffad;
  padding-left: 25px;
}

.sidebar-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-icons li {
  margin: 20px;
  cursor: pointer;
}

.sidebar-icons__card {
  text-decoration: none;
  position: relative;
}

.sidebar-icons__card-amount {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}

.show-sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=Navbar.css.map */