@import 'variables';
@import 'mixin';
@import 'global';

.navbar{
    background-color: $navbar-background;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.navbar-container{
    @include marginCenter;
    height: $navbar-height;
    border-bottom: 1px solid #E5E5E5;
}

.link, li{
    color: $link-text-color;
    font-family: $font-roboto;
    text-decoration: none;
    list-style-type: none;
    display: block;
    font-size: 16px;
}

.navbar-links__cart-amount,
.navbar-header__cart-amount{
    color: $primary-color;   
}

.navbar-header{

    &__logo-container{
        @include flexCenter();
    }

    &__logo-img{
        width: 33.61px;
        height: 33.61px;
        margin-right: 6.33px; 
    }

    &__logo-text{
        width: 85.25px;
        height: 14.61px;
    }

}

.sign{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    transform: translateX(-80%);
    width: fit-content;
    background-color: white;
    z-index: 1;
    width: 120px;
    border: 1px solid rgb(181, 181, 181);

    .link{
        padding: 5px;
        display: block;
    }
}

@media screen and (min-width: 850px) {
    
    .link{
        border-bottom: 4px solid transparent;

        &:hover{
            border-bottom-color: $primary-color;;
        }
    }
    
    .active{
        border-bottom-color: $primary-color;
    }

    .navbar-container{
        @include flexCenter;
        padding: 0 170px 0 165px;
    }

    .navbar-header{
        flex: 1;
        display: flex;

        &__menu{
            display: none;
        }

        &__icons-links{
            display: none
        }
    }

    .navbar-links{
        @include flexCenter(space-between);
        font-family: $font-roboto;
        height: auto !important;
        flex: 2;
        width: 100%;
        &__text-links{
            display: flex;
            
            li{
                margin: 0 30px;
            }
        }

        &__icons-links{
            @include flexCenter(end);
            flex: 1;
            
            li{
                cursor: pointer;
            }      
        }

        &__user-container{
            position: relative;
        }

        &__user-icon{
            width: 25px;
            height: 25px;
        }

        &__cart-container{
            text-decoration: none;
            position: relative;  
            margin-left: 20px;
        }

        &__cart-amount{
            position: absolute;
            font-size: 20px;
            font-weight: 500;
            top: -27px;
            right: -10px;
        }

        &__cart-icon{
            width: 25px;
            height: 25px;
        }
    }
}


@include mobile(850px) {

    .navbar-container{
        height: auto;
    }

    .navbar-header{
        @include flexCenter(space-between);
        height: $navbar-height;
        padding: 0 26px 0 30px;

        &__menu{
            // @include flexCenter();
            cursor: pointer;
            width: 32px;
            height: 17px;

            i{
                color:$primary-color;
                font-size: 22px;
            }
        }

        &__menu-icon{
            width: 32px;
            height: 17px;
            transition: 0.5s ease;

            &:hover{
                transform: rotate(90deg);
            }
        }

        &__close-icon{
            width: 26.51px;
            height: 23.3px;;
        }

        &__icons-links{
            @include flexCenter();
            
            li{
                cursor: pointer;
            }
        }

        &__cart{
            text-decoration: none;
            position: relative;  
            margin-left: 20px;
        }

        &__cart-amount{
            position: absolute;
            font-size: 20px;
            font-weight: 500;
            top: -27px;
            right: -10px;
        }
    }

    .navbar-links{
        background-color: white;
        border-bottom: 1px solid #E5E5E5;
        height: 0px;
        overflow: hidden;
        transition: 0.5s ease;
        
        &__text-links{
            padding: 10px 0 10px;
        }

        &__icons-links{
            display: none
        }
    }


    .link{
        font-weight: 400;
        font-size: 24px;
        padding: 10px 0 10px 63px;
        transition: 0.3s ease;

        &:hover{
            background-color: rgb(151, 255, 173);
            padding-left: 73px;
        }
    }

    .sign{
        position: absolute;
        top: 50px;
        right: -10px;

        .link-sign{
            text-decoration: none;
            color: black;
            font-size: 17px;
            padding: 5px;
        }
    }

    
}

@include mobile(450px){
    .navbar-links{

        &__user-container{
            font-size: 11px;
        }
    }
}
