@import "variables";
@import "mixin";
@import "shipping";

.payment-container{
    @extend .shipping-container;
}

.error-payment{
    color: red;
    margin-bottom: 25px;
}

.payment-text{
    .authentication-titles{

        .details-title,
        .shipping-title{
            color: $primary-color;
        }
    }

    &__method{
        margin: 48px 0 79px 165px;
        
        .name-method{
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: -0.9px;
            margin-bottom: 23px;
        }

        .credit-card{
            border: 1px solid #E5E5E5;
            border-radius: 7px;
            
            .credit-card-title{
                display: flex;
                align-items: center;
                padding: 14px 21px;
                background-color: rgba(86, 178, 128, 0.2);
                margin-bottom: 24px;

                img{
                    width: 31px;
                    height: 31px;
                    margin-right: 23px;
                }
                
                p{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 16px;
                    letter-spacing: -0.9px;
                    color: #56B280;
                }
            }

            .form-payment{
                padding: 0 18px 30px 18px;

                input{
                    border: 0.5px solid #898989;
                    margin-bottom: 12px;
                    padding: 7px 17px;

                    &::placeholder{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 26px;
                        color: #616161;

                    }
                }

                .card-number-input,
                .card-name-input{
                    width: 100%;
                }

                .date-input-container{
                    display: flex;
                    align-items: center;

                    .date-input{
                        width: 50%;
                        margin-right: 14px;
                        margin-bottom: 0;
                    }

                    .cvv-input{
                        width: 50%;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__shipping-btn{

        @extend .shipping-text__shipping-btn;
    }
}

.payment-products{
    @extend .shipping-products;

    .payment-details{

        @extend .shipping-details;

        &__code{
            @extend .shipping-details__code;
        }

        &__subtotal-shipping{
            @extend .shipping-details__subtotal-shipping;
        }

        &__total{
            @extend .shipping-details__total;
        }
    }
}

@media screen and (min-width: 1450px) {
    .payment-text{

        &__payment-link{
            .back-to-details-link-r{
                display: none;
            }
        }
    }
}

@include mobile(1450px){

    .payment-container{
        flex-direction: column;
        align-items: center;
    }

    .payment-text{

        &__method{
            margin: 0 0 85px 0;
            width: 100%;

            .credit-card{
                border: none;           

                .credit-card-title{
                    display: none;
                }

                .form-payment{
                    padding: 0;
                }
            }
        }

        &__shipping-btn{
            flex-direction: column;
            margin: 0 0 60px 0;
            
            .back-to-details-link{
                display: none;
            }

            .payment-link{               
                margin-bottom: 25px;
                display: block;
                width: 100%;
                
                button{
                    width: 100%;
                }
            }

            .back-to-details-link-r{
                text-decoration: none;
                color: $primary-color;
                text-decoration: underline;
                font-size: 18px;   
            }
        }
    }

    .shipping-products{
        margin-left: 0;
        padding-bottom: 60px;
    }
}

@include mobile(750px){
    .payment-text{
        padding: 10px;

        &__method,
        &__shipping-btn{
            width: 100%;
        }

    }

    .shipping-products{
        display: none;
    }
}
