@import "signup";

.sign-in{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    height: 100%;
    font-family: $font-poppins;
}

.signin-form{
    border: 3px solid $primary-color;
    padding: 10px;
    height: fit-content;
}